name: Test
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ "**" ]
  workflow_dispatch:
env:
  RUST_BACKTRACE: 1
  RUST_LOG: info
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2

      - run: cargo build
      - run: cargo test -- --nocapture

  build-dist:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: Swatinem/rust-cache@v2
      - uses: jetli/wasm-pack-action@v0.4.0

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'

      - name: Build WASM
        run: cd apvd-wasm && wasm-pack build --target web

      - name: Rename WASM package
        run: |
          cd apvd-wasm/pkg
          jq '.name = "@apvd/wasm"' package.json > tmp.json && mv tmp.json package.json

      - name: Install dependencies
        run: pnpm install

      - name: Build TypeScript packages
        run: |
          cd client && pnpm build && cd ..
          cd apvd-wasm/ts && pnpm build

      - name: Push dist branch (main)
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: runsascoded/npm-dist@v1
        with:
          prebuilt_dir: .
          pkgs: |
            client
            apvd-wasm/pkg
            apvd-wasm/ts

      - name: Push dist branch (PR)
        if: github.event_name == 'pull_request'
        uses: runsascoded/npm-dist@v1
        with:
          prebuilt_dir: .
          dist_branch: dist-${{ github.head_ref }}
          pkgs: |
            client
            apvd-wasm/pkg
            apvd-wasm/ts
