name: Test
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ "**" ]
  workflow_dispatch:
env:
  RUST_BACKTRACE: 1
  RUST_LOG: info
jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: Swatinem/rust-cache@v2
      - uses: jetli/wasm-pack-action@v0.4.0

      - name: Build WASM
        run: wasm-pack build --target web

      - name: Push dist branch
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: runsascoded/npm-dist@v1.1
        with:
          prebuilt_dir: pkg

      - run: cargo build
      - run: cargo test -- --nocapture
