name: Test
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ "**" ]
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: cargo --version
      - uses: actions/checkout@v3
      - run: cargo build
      - run: cargo test -- --nocapture
